.support-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;

}


.contactsupport{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 600px) {
    .socialmedia-icons img {
        width: 45px;
        padding:10px;
    }
}