 /*General CSS styles */  

 .two-tone-bg{

    background:linear-gradient(to left, #7DBEE0 65%, #98CCE7 35%);
 }

 *{
    box-sizing: border-box;

 }

 html, body{
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16.8px;
  margin:0;
  color:white;
  background-color: #7ABEE1;
 }

 h1{
  font-family: 'Baloo 2', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color:#014A69;
 }

 h2{
  font-family: 'Baloo 2', sans-serif;
  font-size:18px;
  color:#002F70;
  margin:5px;
}

h4{
  font-size:14px;
  color:#002F70;
  margin:5px;
}

a{
  font-weight: 300;
    font-size:14px;
    color: #002F70;
    ;
    padding:0 10px 0 10px;
}
 
a:hover{
  color: #7ABEE1;
}

 p{
   padding:0 10px 0 10px;
 }

 button{
   background-color: #014A69;
   color: white;
   font-weight: 600;
   border-radius: 20px;
   border: none;
   padding: 5px;
   width: 100px;
   cursor:pointer;
 }

 button:hover{
    background-color: #096897;
 }

 @media (min-width:500px) and (max-width:800px){

   html, body{
      font-size: 16px;
    }
    h1{
      font-size: 26px;
    }
    
    h2{
      font-size: 22px;
    }

    h4{
      font-size: 18px;
    }

    a{
      font-size: 16px;
    }
    button{
      font-size: 16px;
      padding: 10px;
    }
  
 }

 @media (min-width:800px){

   html, body{
      font-size: 20px;
    }
    h1{
      font-size: 36px;
    }
    
    h2{
      font-size: 32px;
    }

    h4{
      font-size: 28px;
    }

    a{
      font-size: 24px;
    }
    
    button{
      font-size: 18px;
      padding: 10px;
      width:150px;
    }
   
 }